<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Anton|Fredericka+the+Great|Josefin+Slab|Lobster|Niconne&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>LMS Demo</title>
</head>

<body>
  <nav>
    <div class="nav-wrapper blue">
      <a href="#" class="brand-logo">Perryville Assessment LMS</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/party">Choose your hero</a></li>
        <li><a href="">Resume a pervious adventure</a></li>
        <li><a href="/">Retire</a></li>
      </ul>
    </div>
  </nav>
  {{{body}}}


</body>

</html>
