<h1 class="center">Basic JavaScript</h1>
<p class="center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis aperiam, enim totam est repudiandae nisi? Eum dicta non vero. Ipsa enim quisquam excepturi incidunt natus quasi obcaecati illum modi atque?</p>


  <div class="row buttons" style="margin-left: 48%;">
        <button id="action-btn" class="btn waves-effect waves-light green" value="Mod2SM1">start</button>

      
    </div>
<div class="row">
    <div class="col">
            {{#each Questions}}
                <p>{{text}}</p>


            {{/each}}
    </div>





</div>