
    <h1 class="center">LMS demo</h1>
 <p class="center-align"> <a id="BasicJavacript" href="/test?test=basic-javascript" class="waves-effect waves-light btn-large red">
                                                   {{!-- match with test name in database --}}
   <i class="material-icons right">near_me</i>
   Basic Javascript</a>
</p>
<p class="center-align"> <a id="RegEx" href="/test?test=regular-expressions" class="waves-effect waves-light btn-large red">
   <i class="material-icons right">near_me</i>
   Regular Expressions</a>
</p>

